@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.main-menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #171d25;
    

    .logo{
        width: 250px;
        padding: 1.5rem;
        a img{
            height: 45px;
        }
    }

    .menu-dropdown{
        display: flex;
        gap: 1rem;

        .dropdown-element{
            font-size: 1.2rem;
            font-weight: 500;
            list-style: none;
            padding: 1.3rem 0;
            cursor: pointer;

            .active{
                color: #1a9fff;
                padding-bottom: 0.1rem;
                border-bottom: 2px solid #1a9fff;
            }

            a{
                text-decoration: none;
                color: #c5c3c0;
            }

            .dropdown-element-title{
                text-transform: uppercase;
                padding-top: 2rem;
            }

            .dropdown-submenu{
                display: none;
                position: absolute;
                background-color: #3d4450;
                flex-direction: column;
                list-style: none;
                margin-top: 0.4rem;
                z-index: 10;

                .dropdown-subelement{
                    width: 100%;
                    display: flex;
                    align-items: center;

                    &:hover{
                        background-color: #dcdedf;
    
                        a{
                            color: #3d4450;
    
                            span{
                                color: #fff;
                            }
                        }
                    }
                }

                

                a{
                    font-size: 0.8rem;
                    font-weight: 500;
                    width: 100%;
                    height: 100%;
                    padding: 0.6rem 1rem;

                    span{
                        background-color: orange;
                        color: #fff;
                        padding: 2px;
                        border-radius: 3px;
                        margin-left: 5px;
                        font-size: 0.5rem;
                    }
                }
            }

            &:hover{
                .dropdown-element-title{
                    color: #fff;
                }
    
                .active{
                    color: #1a9fff;
                }
    
                .dropdown-submenu{
                    display: flex;
                }
            }
        }

        
    }

    .infos{
        display: flex;
        align-items: flex-start;
        gap: 0.6rem;
        color: #fff;
        height: 80px;

        .install{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.2rem 0.6rem;
            font-size: 0.8rem;
            background-color: #272d37;
            cursor: pointer;

            &:hover{
                background-color: #3d4450;
            }
        }

        .bell{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.4rem 1rem;
            background-color: #272d37;
            cursor: pointer;

            &:hover{
                background-color: #3d4450;
            }
        }

        

        .user{
            display: flex;
            align-items: center;
            justify-content: center;

            .user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 0.3rem;

                .user-dropdown{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
    
                    .name{
                        font-size: 0.8rem;
                        font-weight: 200;
                        display: flex;
                        align-items: center;
                        font-family: sans-serif;
                        cursor: pointer;
                        padding-top: 0.3rem;
                        color: #636568;

                        &:hover{
                            color: #fff;
                        }
                    }

                    .user-dropdown-menu{
                        display: none;
                        position: absolute;
                        top: 4%;
                        background-color: #3d4450;
                        flex-direction: column;
                        list-style: none;
                        margin-top: 0.4rem;
                        z-index: 10;
        
                        .user-dropdown-subelement{
                            width: 100%;
                            display: flex;
                            align-items: center;

                            &:hover{
                                background-color: #dcdedf;
            
                                a{
                                    color: #3d4450;
                                }
                            }
                        }
        
                        a{
                            font-size: 0.85rem;
                            font-weight: 500;
                            width: 100%;
                            height: 100%;
                            color: #dcdedf;
                            text-decoration: none;
                            padding: 0.6rem 1rem;
    
                            span{
                                color: #1a9fff;
                            }
                        }
                    }
                }

                .user-wallet{
                    font-size: 0.8rem;
                    font-weight: 200;

                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }

        .user-icon{
            img{
                border: 2px solid #565656;
            }
        }
    }
}
